/.metadata/
/PROTO/.settings
/PROTO/.buildpath
/PROTO/.project
/PROTO/.projectConfig
/PROTO/.projectConfig.bak
/SANY_2/.settings
/SANY_2/.buildpath
/SANY_2/.project
/SANY_2/.projectConfig
/SANY_2/.projectConfig.bak
/SANYCCES/.settings
/SANYCCES/.buildpath
/SANYCCES/.project
/SANYCCES/.projectConfig
/SANYCCES/.projectConfig.bak
/X3